* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Monsterrat", "Work Sans", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c1c1c1;
    padding: 10px;
    box-sizing: border-box;
}


h1 {
    font-size: 3em;
    padding: .2em 0 ;
    margin: auto;
    flex-grow: .1;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    font-weight: bold;

}

ul li {
    padding: 8px
}

nav a {
    text-decoration: none;
    display: inline-block;
    color: black;
}

nav a:hover {
    color: darkblue;
}


